#maincontainer, #editcontainer {
	margin: auto;
	max-width: 60%;
}

body {
	margin: 0;
	color: #d8d8d8;
	background-color: #181a1b;
	font-family: sans-serif;
}
a {
	color: #d8d8d8;
}
p {
	margin: 0 0 1em 0;
}
p + ul, p + ol {
	margin-top: -0.6em;
}
blockquote {
	border-left: 4px solid #d8d8d8;
	padding-left: 2em;
	margin: 0;
}
summary {
	margin-bottom: 1em;
	text-decoration: underline;
}
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	text-align: left;
}
td, th {
	border: 1px solid #d8d8d8;
	padding: 2px;
}

@media (min-aspect-ratio: 3/2) {
	#maincontainer, #editcontainer {
		width: 50%;
	}
}
@media (max-aspect-ratio: 1/1) {
	#maincontainer, #editcontainer {
		max-width: 100%;
		margin: 1em;
	}
	.rowOrCol {
		flex-direction: column;
	}
	blockquote {
		padding-left: 1em;
	}
}

/* editor */
.cm-editor {
	height: 45vh;
}
.cm-editor .cm-cursor {
	border-left-color: white;
}
.cm-activeLine {
  background-color: rgba(0.2,0.2,0.2,0.2) !important;
}
.cm-selectionBackground, .cm-editor ::selection {
  background-color: #444444 !important;
}

/* syntax highlighting */
.hljs {
  color: #c9d1d9;
}

.hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_, .hljs-k_verb {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}

.hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_, .hljs-k_adverb {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}

.hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-variable, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}

.hljs-regexp, .hljs-string, .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}

.hljs-built_in, .hljs-symbol, .hljs-k_symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}

.hljs-comment, .hljs-code, .hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}

.hljs-name, .hljs-quote, .hljs-selector-tag, .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

.hljs-char.escape_, .hljs-link, .hljs-params, .hljs-property, .hljs-punctuation, .hljs-tag {
  /* purposely ignored */
}
